* {
	margin: 0;
	padding: 0;
}
.box {
	background: #ccc;
	font: 16px sans-serif;
	text-align: justify;
	width: 50%;
	width: 400px;
	min-height: 100px;
	/*max-height: 110px;*/
	overflow: auto;
	/*border-width: 3px;
	border-color: red;
	border-style: solid;*/
	border: 3px red solid;
	border-right-color: green;
	/*border-bottom-style: dotted;
	border-bottom-width: 5px;*/
	border-bottom: dotted 5px;
	padding: 25px 100px 60px;
	margin: 30px auto;
}
.menu {
	width: 800px;
	background-color: #ccc;
	list-style-type: none;
	margin: auto; /*0 auto*/
	font-size: 0;
	/*visibility: hidden;*/
	/*display: none;*/
}
.menu li {
	display: inline-block;
	vertical-align: top;
	border-radius: 10px;
	border: 1px solid black;
	/*padding: 5px;*/
	width: calc(100% / 3 - 2px);
	height: 50px;
	font-size: 1rem;
	text-align: center;
	line-height: 50px;
	/*box-shadow: inset 3px 5px 10px 10px rgba(255,0,0,0.2), 3px 5px 10px 10px rgba(255,0,0,0.2);*/
}
.menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(255,255,255);
	/*display: block;*/
	border-radius: 10px;
}
.menu a:hover {
	background: #000;
}
iframe {
	width: 800px;
	display: block;
	margin: 30px auto;
	height: 400px;
}
fieldset {
	margin: auto;
	padding: 10px;
}